
services:
  postgres:
    image: postgres:17
    container_name: postgresql
    restart: no
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      homelab-network:

networks:
  homelab-network:
    external: true

volumes:
  postgres_data:
