# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Nginx Proxy Manager
NPM_DB_NAME=npm
NPM_DB_USER=npm
NPM_DB_PASSWORD=

NPM_ADMIN_EMAIL=
NPM_ADMIN_PASSWORD=

# Nextcloud
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=

NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_TRUSTED_DOMAINS=

# Gitea
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_DB_PASSWORD=
