
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.5
    container_name: keycloak
    hostname: keycloak.local
    ports:
      - "8080:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    command: start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      homelab-network:

networks:
  homelab-network:
    external: true

volumes:
  keycloak_data:
