
services:
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    environment:
      INITIAL_ADMIN_EMAIL: admin@test.com
      INITIAL_ADMIN_PASSWORD: admin
      PUID: 1000
      PGID: 1000
    volumes:
      - npm-data:/data
      - npm-ssl:/etc/letsencrypt
    networks:
      - homelab-network

networks:
  homelab-network:
    external: true

volumes:
  npm-data:
  npm-ssl:
