
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.5
    container_name: keycloak
    hostname: keycloak
    ports:
      - "8080:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    command: start-dev
    volumes:
      - ./keycloak-data:/opt/keycloak/data

